<% include partials/header %>
<!--Main-->
<main class="signup container">
  <h1>Edit Comment</h1>
  <form action="/comments/edit" method="POST">
    <input type="text" name="content" placeholder="Content..." />
    <input class="submit" type="submit" value="Update Comment" />
  </form>
</main>

<% include partials/footer %>
