<% include partials/header %>
<!-- Main -->
<main>
  <h1 style="text-align: center; color: red"><%= message %></h1>
  <h2 style="text-align: center; color: orange"><%= error.status %></h2>
  <pre style="text-align: center"><%= error.stack %></pre>
</main>

<% include partials/footer %>
