<% include partials/header %>
<!--Main-->
<main class="home flex justify-start align-center">
  <div class="img-box">
    <img src="/images/icon.png" alt="Icon" />
  </div>
  <h1>PODCAST</h1>
</main>

<% include partials/footer %>
