<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Title-->
    <title>Podcast</title>
    <!--Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!--Font Awesome-->
    <script
      src="https://kit.fontawesome.com/5cc6fb9f6b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--Header-->
    <header class="header">
      <div class="container flex justify-between align-center">
        <a href="/"><img src="/images/icon.png" alt="logo" /></a>
        <nav>
          <ul class="flex justify-between align-center">
            <a href="/podcast">
              <button class="btn btn-primary">Go Back</button></a
            >
            <a href="/users/logout">
              <button class="btn btn-primary">Log Out</button></a
            >
          </ul>
        </nav>
      </div>
    </header>
    <main class="podcast container">
 <% user.map((user) =>{ %>
     <section
        style="margin: 1rem auto"
        class="flex justify-between align-start"
      >
        <div class="flex-48">
          <h2><%= user.firstName + user.lastName %></h2>
          <p style="color: rgb(41, 9, 130);">Current Subscription:<%= user.subscription.currentSubscription %></p>
           <p style="color: rgb(0, 0, 0);">Requested For:<%= user.subscription.requestedFor %></p>
           <a href="/users/<%= user.id %>/approve">
              <button class="btn btn-primary">Approve</button>
           </a>
        </div>
      </section>
      <hr>

 <% }) %>
</main>
<% include partials/footer%>
  </body>
</html>

